@import url(../../index.css);

.radar__wrapper{
    background-color: #282D30;
    border-radius: 5px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recharts-wrapper{
    display: flex;
    justify-content: center;
}

.recharts-polar-angle-axis-tick{
    font-size: 12px;
    text-transform: capitalize;
}