@import '../../App.css';

header{
    background-color: #000;

}

header nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
}

header nav .logo .logo-img img{
    width: 178px;
}

.nav__links{
    display: flex;
    min-width: 994px;
    font-size: 24px;
    font-weight: 500;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    header{
        min-width: 1024px;
    }


    header nav .logo .logo-img img{
        width: 120px;
    }

    .logo{
        margin-right: 5px;
    }

    .nav__links{
        min-width: 835px;
    }
}